.pagewrapper {
}

.picturecarousel {
    display:flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #222222;
}
.picturecarousel>img {
	width: 100%;
	height: 100%;
	position: absolute;
	animation: animate 15s infinite;
	opacity: 0;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.picturecarousel>img:nth-child(2) {
	animation-delay: 4s;
}
.picturecarousel>img:nth-child(3) {
	animation-delay: 8s;
}
.picturecarousel>img:nth-child(4) {
	animation-delay: 12s;
}


@keyframes animate {
	10% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	30% {
		opacity: 0;
	}
}
.h1carousel {
    font-size: 35px;
    font-family: sans-serif;
    text-align: center;
    color: #FBFBFB ;
    width: 100%;
    position: absolute;
}

.hrcarousel {
    width: 80%;
    color: #FBFBFB ;
    position: absolute;
}

.pcarousel {
    font-family: sans-serif;
    text-align: center;
    line-height: 1.5;
    font-size: 25px;
    color: #FBFBFB ;
    width: 100%;
    position: absolute;
  }

.buttonwrapper {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    position: absolute;
  }
  
.btn{
  padding: 15px 100px;
  margin:10px 4px;
  color: #FBFBFB ;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  
}

.btn{
  border:1px solid transparent; 
   -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  border-left:4px solid #6098FF;

}

.btn::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  box-shadow: inset 0px 0px 0px #6098FF;
  display: block;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}

.btn:hover::before {
  width:100%;
}

.btn::after {
  content: '';
  position: absolute;
  right: 0px;
  top:0px;
  z-index:-1;
  width: 0%;
  height:1px;
  background: #6098FF;
  -webkit-transition: all 0.4s cubic-bezier(.5, .24, 0, 1);
  transition: all 0.4s cubic-bezier(.5, .24, 0, 1)
}
.btn:hover::after {
  width:100%;
}
.btn:hover{
  border-left:1px solid #6098FF;
  border-right:1px solid #6098FF;
}

.layoutcontainer{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    background: #254E58;

}

.layoutpicture{
    height:80vh;

}
.picturecontainer{
    flex-flow: column wrap;
    height:80vh;
    margin-left: 5%;
}
.infotext{
    flex-flow: column wrap;
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 25px;
    color: #FBFBFB ;
    width: 55%;
    margin: auto;
}

.verticalbar {
    width: auto;
    height: 240px;
    position: absolute;
    margin-top: 200px;
    margin-left: 80%;
}
.formcontainer{
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}


.contactcontainer{
    background: #254E58;
    width: 100%;
    height: 660px;
}

.tilecontainer{
    
    width:100%;
    height: 660px;
    background:#4F4A41;
}

.productinfo{
    float: left;
    width: 86%;
    height: 576px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background:#6E6658;
}

.backgroundcontainer{
    float: left;
    width: 144px;
    height: 660px;
    background-image: url("data:image/svg+xml,%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='288.000000pt' height='660.000000pt' viewBox='0 0 288.000000 660.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000,660.000000) scale(0.100000,-0.100000)'%0Afill='%23222222' stroke='none'%3E%3Cpath d='M0 3275 l0 -3275 1440 0 1440 0 0 3275 0 3275 -1440 0 -1440 0 0%0A-3275z m2810 1659 c0 -850 -4 -1544 -8 -1542 -11 4 -2656 3065 -2660 3078 -2%0A7 470 10 1332 10 l1336 0 0 -1546z m-1385 -75 c737 -853 1342 -1555 1343%0A-1560 2 -6 -135 -8 -359 -7 l-363 3 -987 1110 -987 1110 -1 448 c-1 246 2 447%0A7 447 4 0 610 -698 1347 -1551z m-421 -507 c506 -571 921 -1043 924 -1050 3%0A-9 -73 -12 -350 -12 l-353 1 -577 631 -578 632 0 418 c0 230 3 418 8 417 4 0%0A421 -467 926 -1037z m-398 -477 c280 -305 510 -562 512 -570 3 -13 -43 -15%0A-365 -15 l-368 1 -157 172 -157 172 -1 398 c0 332 2 397 14 397 7 0 243 -250%0A522 -555z m-418 -460 c50 -55 92 -106 92 -112 0 -10 -28 -13 -105 -13 l-105 0%0A0 116 c0 90 3 115 13 112 7 -2 54 -48 105 -103z m112 -197 c0 -17 -201 -218%0A-217 -218 -10 0 -13 29 -13 115 l0 115 115 0 c84 0 115 -3 115 -12z m818 -3%0Ac-5 -22 -1019 -1125 -1035 -1125 -11 0 -13 75 -13 397 l0 398 172 172 173 173%0A353 0 c308 0 353 -2 350 -15z m832 1 c0 -16 -1848 -2070 -1867 -2074 -11 -3%0A-13 70 -13 411 l0 415 578 631 577 630 363 1 c298 0 362 -2 362 -14z m818 1%0Ac-5 -22 -2671 -3077 -2685 -3077 -11 0 -13 79 -13 441 l0 441 992 1103 993%0A1104 358 0 c288 1 358 -2 355 -12z m42 -1617 l0 -1530 -1336 0 c-1177 0 -1335%0A2 -1332 15 5 23 2639 3045 2655 3045 11 0 13 -258 13 -1530z'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 72px 165px;
    background-repeat: repeat;
}


.hr {
    width: 80%;
    color: #FBFBFB ;
}
.h2 {
    margin-top: 2%;
    color: #FBFBFB ;
}

.h3 {
    margin-top: 2%;
    color: #FBFBFB ;
}
@media screen and (max-width: 1245px) {

    .infotext{
        margin-left: 25%;
        margin-right: 25%;
        width: 50%;
    }    
    .picturecontainer{
        margin-left: 25%;
        margin-right: 25%;
    }  
    

}
@media screen and (max-width: 805px) {
    .infotext{
        font-size: 16px;
    }
    .refbutton{
        font-size: 16px;
    }
    .formcontainer{
        margin: auto;
    }
    .layoutpicture{
        height:40vh;
    
    }
    .picturecontainer{
        height:40vh;
        margin-left: auto;
        margin-right: auto;  
    }
    .picturecarousel {
        height: 25vh;
    } 


}